{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% for i in movie %}
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{i.img.url}}" class="card-img-top" alt="..." height="250">
                    <div class="card-body">
                        <h5 class="card-title">{{i.title}}</h5>
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <a href="{% url 'movie_app:details' i.id %}" class="btn btn-primary">Click for details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}